<?xml version="1.0" ?>
<launch>
	<rosparam file="$(find puma560_robot)/config/arm_controller.yaml" command="load"/>
	<arg name="arm_controllers" default="arm_controller  
										 joint_state_controller" />
	<node name="controller_spawner"	pkg="controller_manager" type="spawner" respawn="false" output="screen"
		args="$(arg arm_controllers)" ns="/puma560" />	
	<param name="robot_description" textfile="$(find puma560_robot)/urdf/puma560_pos.urdf" />
	<arg name="puma560_initial_position" default="-J joint_base_to_waist 0.0
												  -J joint_waist_to_shoulder 0.0
												  -J joint_shoulder_to_elbow -1.5708
												  -J joint_elbow_to_wrist_bend 0.0
												  -J joint_wrist_bend_to_roll 0.0"	/>
   	<arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="z" default="0.0"/>
	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="paused" default="false" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="debug" value="$(arg debug)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="headless" value="$(arg headless)" />
		<arg name="use_sim_time" value="true" />
	</include>
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
		args="-urdf -model puma560 -param robot_description $(arg puma560_initial_position) 
              -x $(arg x) -y $(arg y) -z $(arg z) -unpause" respawn="false" output="screen" />

</launch>