<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<param name="robot_description" textfile="$(find puma560_robot)/urdf/puma560_pos.urdf" />
	<rosparam file="$(find puma560_robot)/config/pos_controller.yaml" command="load"/>
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/puma560" args="joint_state_controller
											joint_waist_position_controller 
											joint_shoulder_position_controller 
											joint_elbow_position_controller 
											joint_wrist_bend_position_controller 
											joint_wrist_roll_position_controller" />										
</launch>